.background {
    background-color: #E3163D;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
}

.signout {
    font-family: 'Rowdies', cursive;
    color: #778899;
    white-space: nowrap;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 3%;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    width: 50px;
    background-color: #FFFFFF;
    border: none;
}

.signout:hover {
    color: #E3163D;
    transition: 0.5s;
}

.createroom {
    font-family: 'Rowdies', cursive;
    color: #778899;
    white-space: nowrap;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 4.5%;
    border-radius: 10px;
    margin-top: 1%;
    margin-left: 1%;
    width: 50px;
    background-color: #FFFFFF;
    border: none;
}

.createroom:hover {
    color: #E3163D;
    transition: 0.5s;
}

#rooms {
    padding: 1%;
}

#rooms li {
    width: 35%;
    color: #E3163D;
    padding: 0.5%;
    margin-bottom: 1%;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 15px 15px 10px #C21738;
    list-style-type: none;
}
